<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Escaping 2020 on Earth</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">


</head>

<body>

  <div class="jumbotron text-center">
    <h1 class="display-3">Escaping 2020 on Earth</h1>
    <p class="lead √ text-left">After experiencing the whirlwind that has been the year 2020, our group has decided to search for an alternative home.  Through the examination of planets, species, and climates, as well as an analysis of spacecraft and vehicles, we will determine the best place to relocate.
    </p>
    <hr class="my-2">
    <p>Jedis: Allred, Azar, Lee, and Swierczynski</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="planets" role="button">Planets</a>
      <a class="btn btn-primary btn-lg" href="species" role="button">Species</a>
      <a class="btn btn-primary btn-lg" href="starships" role="button">Starships</a>
      <a class="btn btn-primary btn-lg" href="vehicles" role="button">Vehicles</a>
    </p>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <img src="https://img1.looper.com/img/gallery/the-history-of-tatooine-fully-explained/intro-1598632525.jpg">
      </div>
      <div class="col">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/veh-ia-1751-1576604159.jpg?crop=0.583xw:0.658xh;0.207xw,0.220xh&resize=640:*">
      </div>
      <div class="w-100"></div>
      <div class="col">
        <img src="https://bbts1.azureedge.net/images/p/full/2019/02/8054ee1f-d93b-4b96-99c7-cbdc88227bee.jpg">
        
      </div>
      <div class="col">
        <img src="https://www.seekpng.com/png/detail/485-4850307_picture-royalty-free-stock-chewbacca-vector-wookie-star.png">
      </div>
    </div>
  </div>
      

  </div>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="../static/js/starship.js"></script>
  <script type="text/javascript" src="../static/js/test.js"></script>

</body>
</html>
